li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #9c6cad;
  padding: 20px;
  margin: 10px;
  border-radius: 50px;
}
li img {
  border-radius: 50%;
}
p {
  padding: 10px;
}
.button-delete,
.button-delete:hover {
  background-color: transparent;
  border: none;
}
.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.name-container {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.accordion-container {
  display: flex;
  border-bottom: 2px solid #9d65b1;
}
.open {
  display: flex;
}
