button {
  color: rgb(14, 14, 14);
  background-color: #9d65b1;
  border-radius: 50px;
  padding: 10px;
  border: 1px solid rgb(165, 72, 129);
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  background-color: #a13e72;
  cursor: pointer;
}
