.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.sidebar {
  display: flex;
}
.icon-mode,
.icon-mode:focus,
.icon-mode:hover {
  font-size: 24px;
  background-color: transparent;
  border: none;
}

.icon-mode.dark-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dark button:not(.icon-mode) {
  background-color: rgb(153, 149, 149);
}

.dark button:not(.icon-mode):hover {
  background-color: rgb(104, 104, 104);
}

.icon-mode {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}
.dark li,
.dark form,
.dark input,
.dark select {
  border: 2px solid #1b1b1b;
}
.dark button {
  border: 1px solid #1b1b1b;
}
.dark .accordion-container {
  border-bottom: 2px solid #0c0b0c;
}
.dark .header {
  color: black;
}
