.app {
  background: linear-gradient(
      rgba(228, 211, 236, 0.9),
      rgba(221, 202, 224, 0.9)
    ),
    url("/src/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sidebar {
  display: flex;
  /*   margin: 25px; */
}
