* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
      rgba(228, 211, 236, 0.9),
      rgba(221, 202, 224, 0.9)
    ),
    url("/src/img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
body.dark {
  background: linear-gradient(
      rgba(173, 170, 170, 0.9),
      rgba(107, 106, 106, 0.9)
    ),
    url("/src/img/dark-mode.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  padding: 20px;
  gap: 10px;
  border: 1px solid #9c6cad;
  max-width: 250px;
  border-radius: 12px;
}
input,
select {
  border: 1px solid #7c5f87;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: #eeece7;
}
